body {
    color: #373E40;
    margin: 0px;
    padding-top: 20.6%;
    padding-bottom: 20.6%;
    font-family:'Poppins', sans-serif;
    background: linear-gradient(115deg, #B8B8FF 10%, #FFEEDD 90%);
}